In [8]:
str1="welcome to python"
str1
str2=str1
print(str1,str2)

welcome to python welcome to python

## special characters in string

In [18]:
#\---> Escape character
s="what's your name"
print(s)

what's your name

In [17]:
s='what\'s your name'
print(s)

what's your name

In [16]:
#\n ---> next line chraracter
s="welcome to \n python"
print(s)

welcome to
 python

In [20]:
# \r carriage return
a="we are learning python \r in data science"
print(a)

 in data science

In [29]:
b="welcme to DYP college \r of engineering"
print(b)

 of engineering

In [23]:
#\t
c="welcome to DYP \t college of engineering"
print(c)

welcome to DYP 	 college of engineering

## string formating

In [ ]:
1. format()
2. f string 
3. %

In [24]:
x=10
y=20
z=x+y
print("addition of {} and {} is {}".format(x,y,z))

addition of 10 and 20 is 30

In [26]:
print("addition of {} and {} is {}".format(x,y,x+y))

addition of 10 and 20 is 30

In [28]:
a=30
b=50
print(f"addition of {a} and {b} is {a+b}")

addition of 30 and 50 is 80

In [ ]:
Format with %
Formatted strings 
%d----int
%f---float
%s---str

In [10]:
a = 100 
b = 200
c = a + b

print("addition of %d and %d is %d" %(a,b,c))

addition of 100 and 200 is 300

In [30]:
a = 100 
b = 200
c = a + b

s = "addition of %f and %f is %f" %(a,b,c)
s

'addition of 100.000000 and 200.000000 is 300.000000'

In [31]:
s1 = 'Python'
s2 = ' Learning'

s = "String 1 is %s and String 2 is %s" %(s1,s2)
print(s)

String 1 is Python and String 2 is  Learning

In [32]:
s1 + s2

'Python Learning'

In [33]:
s1 = 'python'
s2 = 'Learning'

s1+s2

'pythonLearning'

In [34]:
s1 = 'python'
s2 = 'Learning'

s1+' '+s2

'python Learning'

## Indexing

In [11]:
str1="I am learning python"
str1[1]

' '

In [4]:
str1[0:4]

'I am'

In [5]:
str1[-1]

'n'

In [9]:
str1[-1]

'n'

In [10]:
str1[4:8]

' lea'

In [12]:
str1[0:15:2]

'Ia erigp'

In [20]:
str1[0:20]

'I am learning python'

In [22]:
str1[::-1]

'nohtyp gninrael ma I'

In [27]:
str1[-20:-10]

'I am learn'

In [34]:
str1[4::2]

' erigpto'

In [35]:
str1[:-3]

'I am learning pyt'

In [32]:
str1.index('l')

5

In [31]:
str1.index("python")

14

In [37]:
len(str1)

20

## Count

In [42]:
str1.count('n')

3

In [13]:
str1.count(" ")

3

In [44]:
str1.count('n',10,15)

1

## Find

In [14]:
str1.find('m')

3

In [50]:
str1.find('a')

2

In [51]:
str1.find('x')

-1

In [7]:
str1="I am learning python for Data Science"
str2='python'
s=str1.find(str2)
if s==-1:
    print(f"{str2} not found")
else:
    print(f"{str2} found")

python found

# String functions:
1. Capitalize()--->starting letter will be capitalized
2. Upper()---> all the lower case letters are converted to upper case
3. Lower()---> all the upper case letters are converted to lower case
4. Tilte()---> converts the alphabets to Title format
5. Lstrip()---->removes left side (leading) spaces in the string
6. Rstrip()---->removes right side (trailing) in string 
7. Strip()----->removes leading and trailing spaces in the string
8. Swapcase()---> interchanges the case of the alphabets
9. Replace()----> replaces with the required strings to new string
10. Isupper()---> checks wherther given sting is in upper case?, its boolean function 
11. Islower()----> checks whether given string is in lower case, boolean function
12. Isalnum()----> checks all the cheracters are numbers & alphbets, boolean fu nction
13. Isdecimal()--->checks the given numbers are decimal?, boolean function
14. endswith()----> checks the given string endswith perticular string?
15. Join()--> joins list to string
16. split()---> split the given string into substrings
17. center()--->alliens the string in the center
18. zfill()----> fills with zeros at the beginning
19. isspace()---> whether there is spece in the given string
20. isnumeric()---> whether given string is numaric
21. isdigit()---> whether given string is digit?
22. istittle()---> whether given string is title
23. isalpha()---> whether given string is alphabet
24. startswith--->whether given string starts with ....
25. in -----> membership operator

In [4]:
str1="this is python class"
print(str1.capitalize())
#print(Cstr)

This is python class

In [5]:
s="20 is my age"
print(s.capitalize())

20 is my age

In [6]:
s="shivaleela arlimatti"
print(s.upper())

SHIVALEELA ARLIMATTI

In [7]:
s="SHIVALEELA ARLIMATTI"
print(s.lower())

shivaleela arlimatti

### title()

In [8]:
s="delhi is capital of india"
print(s.title())

Delhi Is Capital Of India

In [9]:
s="republic day is on 26th jan"
print(s.title())

Republic Day Is On 26Th Jan

### lstrip(), rstrip() and strip()

In [11]:
s="      DYP college of engineering"
print(s)
print(s.lstrip())

      DYP college of engineering
DYP college of engineering

In [23]:
s="DYP college of egnineering      "
print(s.rstrip())
s

DYP college of egnineering

'DYP college of egnineering      '

In [24]:
s="------------DYP college of Engineering------"
print(s.strip('-'))

DYP college of Engineering

## swapcase()

In [30]:
s="DYP College of Engineering"
print(s.swapcase())

dyp cOLLEGE OF eNGINEERING

## endswith()

In [24]:
str1="welcome to College?"
print(str1.endswith('?'))

True

In [58]:
print(s.endswith('ING'))

True

In [63]:

print(s.endswith('ENGINEERING',5,10))

False

## isupper(), islower()

In [33]:
s="DYP COLLEGE OF ENGINEERING"
print(s.isupper())
#print(s.islower())

True

In [34]:
s1="dyp college of engineering"
print(s1.islower())

True

In [36]:
s2="DYP College of Engineering"
print(s2.isupper())
print(s2.islower())

False
False

## isalnum()

In [39]:
print(s2.isalnum())

False

## replace()

In [51]:
print(s2.replace('DYP','KIT'))

KIT College of Engineering

In [50]:
s3= "I like kolhapur"
s4 = s3.replace("kolhapur", "pune")
print(s4)

I like pune

## split() and join()

In [49]:
str1='welcome to Kolhapur'
str2=str1.split()
print(str2)
str1[0]

x='*'.join(str1)
print(x)

['welcome', 'to', 'Kolhapur']
w*e*l*c*o*m*e* *t*o* *K*o*l*h*a*p*u*r

In [37]:
str2[0]

'welcome'

In [43]:
str3=' '.join(str2)
str3

'welcome to Kolhapur'

## in operator

In [76]:
s="Python is forth semester subject"
"subject" in s

True

In [77]:
'sem' in s

True

In [78]:
'math'in s

False

## zfill()

In [52]:
x="welcome"
print(len(x))
print(x.zfill(10))

7
000welcome

In [80]:
y=("hello all")
print(y.zfill(20))

00000000000hello all

In [82]:
z='1000'
print(z.zfill(10))

0000001000

## isspace()

In [6]:
str1="  Shivaleela   Arlimatti "  # function will check for empty string
print(str1.isspace())

False

In [7]:
s=""
print(s.isspace())

False

In [8]:
s="      "
print(s.isspace())

True

In [32]:
num="20.5600000"
type(num)
print(num.isdecimal())

False